body {
  font-family: Arial;
  padding: 30px;
  color: #0c0c0c;
  background-image: url(./img/background-image.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  text-shadow: 2px 2px 5px rgba(154, 255, 253, 0.7);
}

.app {
  max-width: 600px;
  margin: 0 auto 300px;
  background-color: rgba(154, 255, 253, 0.4);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 20px 30px;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
}

input {
  box-sizing: border-box;
}

button {
  background-color: #333974;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
  margin-right: 10px;
  height: 35px;
}

button:hover {
  opacity: 1;
}

.todo-list {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #555;
  display: flex;
  flex-direction: column;
}

.todo {
  background-color: #fef1e0;
  text-shadow: none;
  box-shadow: rgba(12, 12, 12, 0.35) 0px 5px 15px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.todo .priority {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.todo .priority img {
  width: 60%;
}
.todo .content {
  width: 60%;
  margin-right: auto;
}
.todo .content .category {
  font-size: 0.8rem;
  font-weight: bold;
}
.todo .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo .buttons .edit {
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo .buttons .complete {
  background-color: #5cb85c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo .buttons .remove {
  background-color: #d9534f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-form {
  padding-bottom: 1.5rem;
}

input,
select {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #DDD;
  border-radius: 3px;
  width: 100%;
}

.filter,
.search {
  border-bottom: 1px solid #555;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.filter-container {
  border-bottom: 1px solid #555;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.filter-container .filter-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  cursor: pointer;
}
.filter-container .filter-title img {
  height: -moz-max-content;
  height: max-content;
  width: 30px;
  filter: drop-shadow(2px 2px 3px rgba(154, 255, 253, 0.9));
}
.filter-container .filter-title h2 {
  margin: 0;
}
.filter-container .teste {
  max-height: 0px;
  transition: max-height 0.3s ease-in-out;
}
.filter-container .visible {
  max-height: 200px;
  transition: max-height 0.3s ease-in-out;
}
.filter-container .filter-options {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  transition: display 0.3s ease-in-out;
}
.filter-container .filter-options div {
  flex: 1 1 0;
}

.completedTasks {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
  text-shadow: 1px 2px 5px #9afffd;
  font-weight: bold;
}/*# sourceMappingURL=App.css.map */