// colors:
$color1: #fc354c;
$color2: #29221f;
$color3: #13747d;
$color4: #0abfbc;
$color41: #9afffd;
$color5: #fcf7c5;
$color6: #fef1e0;
$color7: #f6e6ce;
$color8: #3b2e2a;
$color9: #3f0632;
$color10: #a47f1a;
$color11: #fff3a3;
$black1: #0c0c0c; //OIL BLACK
$black2: #0b1215; //OBSIDIAN
$black3: #171717; //CHARCOAL GRAY

body {
    font-family: Arial;
    padding: 30px;
    color: $black1;
    background-image: url(./img/background-image.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    text-shadow: 2px 2px 5px rgba($color41, 0.7);
}

.app {
    max-width: 600px;
    margin: 0 auto 300px;
    background-color: rgba($color41, 0.4);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 20px 30px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

h1 {
    text-align: center;
}

h2 {
    margin-bottom: 10px;
}

p {
    margin: 10px 0;
}

input {
    box-sizing: border-box;
}

button {
    background-color: #333974;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    opacity: .8;
    transition: .3s;
    margin-right: 10px;
    height: 35px;
}

button:hover {
    opacity: 1;
}

.todo-list {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #555;
    display: flex;
    flex-direction: column;

}

.todo {
    background-color: $color6;
    text-shadow: none;
    box-shadow: rgba($black1, 0.35) 0px 5px 15px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;

    .priority {
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;

        img {
            width: 60%;
        }
    }

    .content {
        width: 60%;
        margin-right: auto;

        .category {
            font-size: 0.8rem;
            font-weight: bold;
        }
    }

    .buttons {
        display: flex;
        align-items: center;
        justify-content: center;


        .edit {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .complete {
            background-color: #5cb85c;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .remove {
            background-color: #d9534f;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.todo-form {
    padding-bottom: 1.5rem;
}

input,
select {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #DDD;
    border-radius: 3px;
    width: 100%;
}

.filter,
.search {
    border-bottom: 1px solid #555;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.filter-container {
    border-bottom: 1px solid #555;
    margin-bottom: 20px;
    padding-bottom: 20px;


    .filter-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        width: max-content;
        height: max-content;
        cursor: pointer;

        img {
            height: max-content;
            width: 30px;
            filter: drop-shadow(2px 2px 3px rgba($color41, 0.9));
        
        }

        h2 {
            margin: 0;
        }
    }

    .teste {
        max-height: 0px;
        transition: max-height .3s ease-in-out;
    }

    .visible {
        max-height: 200px;
        transition: max-height .3s ease-in-out;
    }

    .filter-options {
        display: flex;
        justify-content: space-between;
        gap: 3rem;
        transition: display 0.3s ease-in-out;

        div {
            flex: 1 1 0;
        }
    }
}

.completedTasks {
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
    text-shadow: 1px 2px 5px rgba($color41, 1);
    font-weight: bold;

}