body {
  font-family: Arial;
  padding: 30px;
  color: #0c0c0c;
  background-image: url(./img/background-image.jpg);
  background-color: rgba(12, 12, 12, 0.4);
  background-size: cover;
  background-attachment: fixed;
  background-position-y: center;
}

.app {
  max-width: 600px;
  margin: 0 auto 300px;
  background-color: rgba(5, 27, 27, 0.7);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 20px 30px;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: #f0f8ff;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
}

input {
  box-sizing: border-box;
}

button {
  background-color: #333974;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
  margin-right: 10px;
  height: 35px;
}

button:hover {
  opacity: 1;
}

.todo-list {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #c7c7c7;
  display: flex;
  flex-direction: column;
}

.todo-editing {
  background-color: #fef1e0;
  border: 3px solid #3b2e2a;
  box-shadow: rgba(254, 241, 224, 0.5) 0px 0px 15px;
  padding: 10px;
  margin: 15px 0px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  color: #0c0c0c;
}
.todo-editing .priority {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.todo-editing .priority img {
  width: 60%;
}
.todo-editing label {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: end;
  font-weight: bold;
  color: rgba(12, 12, 12, 0.7);
}
.todo-editing input {
  background-color: rgba(59, 46, 42, 0.2);
  color: #0c0c0c;
  border: 1px solid #3b2e2a;
  grid-column: 2/5;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.todo-editing input::-moz-placeholder {
  color: #ddd;
}
.todo-editing input::placeholder {
  color: #ddd;
}
.todo-editing select {
  background-color: rgba(59, 46, 42, 0.2);
  color: #0c0c0c;
  border: 1px solid #3b2e2a;
  grid-column: 2/5;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.todo-editing select option {
  color: #0c0c0c;
}
.todo-editing .content {
  width: 60%;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
}
.todo-editing .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-add-form {
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(3, auto);
  gap: 20px 10px;
}
.content-add-form label {
  display: flex;
  align-items: center;
  justify-content: end;
}
.content-add-form select,
.content-add-form input {
  display: flex;
  align-items: center;
  grid-column: 2/6;
  margin: 0;
}

.todo {
  background-color: #fef1e0;
  text-shadow: none;
  box-shadow: rgba(12, 12, 12, 0.35) 0px 5px 15px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  color: #0c0c0c;
}
.todo .priority {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.todo .priority img {
  width: 60%;
}
.todo .content {
  width: 60%;
  margin-right: auto;
}
.todo .content .category {
  font-size: 0.8rem;
  font-weight: bold;
}
.todo .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo .buttons .edit {
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo .buttons .complete {
  background-color: #2cca2c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo .buttons .remove {
  background-color: #fc354c;
  display: flex;
  align-items: center;
  justify-content: center;
}

input,
select {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #DDD;
  border-radius: 3px;
  width: 100%;
}

.filter,
.search {
  border-bottom: 1px solid #c7c7c7;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.filter input,
.search input {
  background-color: rgba(199, 199, 199, 0.3);
  color: #f0f8ff;
}
.filter input::-moz-placeholder, .search input::-moz-placeholder {
  color: #ddd;
}
.filter input::placeholder,
.search input::placeholder {
  color: #ddd;
}

.filter-container {
  border-bottom: 1px solid #c7c7c7;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.filter-container .filter-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}
.filter-container .filter-title div {
  display: flex;
  cursor: pointer;
}
.filter-container .filter-title img {
  height: -moz-max-content;
  height: max-content;
  width: 30px;
  margin-right: 10px;
  cursor: pointer;
}
.filter-container .filter-title h2 {
  margin: 0;
}
.filter-container .teste {
  max-height: 0px;
  transition: max-height 0.3s ease-in-out;
}
.filter-container .visible {
  max-height: 200px;
  transition: max-height 0.3s ease-in-out;
}
.filter-container .filter-options {
  display: grid;
  grid-template-columns: repeat(2, 270px);
  justify-content: space-between;
  gap: 0.5rem;
  transition: display 0.3s ease-in-out;
}
.filter-container .filter-options div {
  flex: 1 1 0;
}
.filter-container .filter-options div select {
  background-color: rgba(199, 199, 199, 0.3);
  color: #f0f8ff;
}
.filter-container .filter-options div select option {
  color: #0c0c0c;
}

.completedTasks {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
  font-weight: bold;
}/*# sourceMappingURL=App.css.map */